/* Home Page Styles */

.homepage .site-inner {
	max-width: none;
	padding: 0;
}

.homepage .entry {
	padding: 0;
	margin-bottom: 0;
}

.homepage .extra-footer {
    margin-top: 60px;
}

.skinny {
	margin: 0 auto;
	max-width: 720px;
}