/* ## Primary Navigation
--------------------------------------------- */


.nav-primary {
	background-color: $primarynav_bg_color;
	text-align: center;

	/* Wide Nav Flex Wrap Option */

	/*
	.wrap {
		max-width: 1920px;
	}
	@include media($medium-screen-up) {
		.menu {
			display: flex;
			justify-content: space-around;
			@include font-size(17);
		}
	}
	*/
}

.nav-primary .genesis-nav-menu a {
	color: $primarynav_link_color;
	text-decoration: none; 
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu .current-menu-item > a {
	color: $primarynav_hover_color;
	text-decoration: none; 
}

.nav-primary .genesis-nav-menu .sub-menu a {
	color: $primarynav_link_color; 
}

.nav-primary .genesis-nav-menu .sub-menu a:hover,
.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a {
	color: $accent_color;
	text-decoration: none; 
}
