/* ## Secondary Navigation
--------------------------------------------- */



.nav-secondary {
	background-color: $secondarynav_bg_color; 
	text-align: center;
}

.nav-secondary .genesis-nav-menu a {
	padding: $secondary_nav_item_padding;
}

.nav-secondary .genesis-nav-menu .sub-menu a {
	padding: $secondary_nav_sub_item_padding;
}
	

