/* ## Widget Area
--------------------------------------------- */
.site-header .widget-area {
	float: right;
	text-align: right; 
	width: 50%;
}

.phone-cta,
.phone-num {
	display: block;
}

.phone-cta {
	display: none;
	
	@include media($small-screen-up) {
		display: block;
		@include font-size(16);
		font-weight: 800;
		margin-bottom: 8px;
		text-transform: uppercase;
	}
}

.phone-num {
	@include font-size(20);
	font-weight: 600;
	line-height: 1;
	
	@include media($small-screen-up) {
		@include font-size(32);
	}
}
